## Deliverable 2. Create a Customer Travel Destinations Map.

In [36]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key2

# Configure gmaps API key
gmaps.configure(api_key=g_key2)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Miranda De Ebro,ES,42.6865,-2.9470,45.00,76,75,11.50,broken clouds,2021-01-31 01:22:34
1,1,Rikitea,PF,-23.1203,-134.9692,79.50,70,0,11.34,clear sky,2021-01-31 01:22:35
2,2,Vaini,TO,-21.2000,-175.2000,86.00,79,75,13.80,broken clouds,2021-01-31 01:20:19
3,3,Barroquinha,BR,-3.0189,-41.1361,76.95,81,100,5.68,overcast clouds,2021-01-31 01:22:35
4,4,Saint-Philippe,RE,-21.3585,55.7679,78.80,65,0,8.05,light rain,2021-01-31 01:07:56

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
user_min_temp = float(input('Enter the minimum temperature that you would like for your vacation here:'))
user_max_temp = float(input('Enter the maximum temperature that you would like for your vacation here:'))

# Check to make sure temperatures that were entered were correct.  
temp_check = input(f"You selected {user_min_temp} as the minimum temperature for your vacation and {user_max_temp} for the maximum temperature.  Is this correct? Please type yes or no.:")

# If temperatures were not correct, reprompt.  If they were correct, print message.
if temp_check == "no":
    user_min_temp = float(input('Enter the minimum temperature that you would like for your vacation here:'))
    user_max_temp = float(input('Enter the maximum temperature that you would like for your vacation here:'))
    
    # Check to make sure temperatures that were entered were correct.
    print(f"You selected {user_min_temp} as the minimum temperature for your vacation and {user_max_temp} for the maximum temperature.")
else:
                   print("Excellent!  Let's get started!")

Enter the minimum temperature that you would like for your vacation here:1
Enter the maximum temperature that you would like for your vacation here:101
You selected 1.0 as the minimum temperature for your vacation and 101.0 for the maximum temperature.  Is this correct? Please type yes or no.:yes
Excellent!  Let's get started!

In [4]:
type(user_max_temp)

float

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
user_filtered_results_df = city_data_df.loc[(city_data_df['Max Temp'] >= user_min_temp) &
                                            (city_data_df['Max Temp'] <= user_max_temp)]
user_filtered_results_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Miranda De Ebro,ES,42.6865,-2.9470,45.00,76,75,11.50,broken clouds,2021-01-31 01:22:34
1,1,Rikitea,PF,-23.1203,-134.9692,79.50,70,0,11.34,clear sky,2021-01-31 01:22:35
2,2,Vaini,TO,-21.2000,-175.2000,86.00,79,75,13.80,broken clouds,2021-01-31 01:20:19
3,3,Barroquinha,BR,-3.0189,-41.1361,76.95,81,100,5.68,overcast clouds,2021-01-31 01:22:35
4,4,Saint-Philippe,RE,-21.3585,55.7679,78.80,65,0,8.05,light rain,2021-01-31 01:07:56
...,...,...,...,...,...,...,...,...,...,...,...
703,703,Miandrivazo,MG,-19.5167,45.4667,77.56,81,24,1.30,few clouds,2021-01-31 01:24:42
704,704,Tsiroanomandidy,MG,-18.7667,46.0333,66.33,90,8,2.15,clear sky,2021-01-31 01:24:42
705,705,Tete,MZ,-16.1564,33.5867,77.00,100,20,3.85,few clouds,2021-01-31 01:24:42
706,706,Bardiyah,LY,31.7561,25.0865,59.27,69,0,13.82,clear sky,2021-01-31 01:24:43
707,707,Chanika,TZ,-5.4167,38.0167,69.21,93,69,1.66,broken clouds,2021-01-31 01:24:43

In [6]:
# 4a. Determine if there are any empty rows.
user_filtered_results_df.count()

City_ID                634
City                   634
Country                628
Lat                    634
Lng                    634
Max Temp               634
Humidity               634
Cloudiness             634
Wind Speed             634
Current Description    634
Date                   634
dtype: int64

In [7]:
user_filtered_results_df.isnull().sum()

City_ID                0
City                   0
Country                6
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
user_filtered_results_noBlanks_df = user_filtered_results_df.dropna()
user_filtered_results_noBlanks_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Miranda De Ebro,ES,42.6865,-2.9470,45.00,76,75,11.50,broken clouds,2021-01-31 01:22:34
1,1,Rikitea,PF,-23.1203,-134.9692,79.50,70,0,11.34,clear sky,2021-01-31 01:22:35
2,2,Vaini,TO,-21.2000,-175.2000,86.00,79,75,13.80,broken clouds,2021-01-31 01:20:19
3,3,Barroquinha,BR,-3.0189,-41.1361,76.95,81,100,5.68,overcast clouds,2021-01-31 01:22:35
4,4,Saint-Philippe,RE,-21.3585,55.7679,78.80,65,0,8.05,light rain,2021-01-31 01:07:56
...,...,...,...,...,...,...,...,...,...,...,...
703,703,Miandrivazo,MG,-19.5167,45.4667,77.56,81,24,1.30,few clouds,2021-01-31 01:24:42
704,704,Tsiroanomandidy,MG,-18.7667,46.0333,66.33,90,8,2.15,clear sky,2021-01-31 01:24:42
705,705,Tete,MZ,-16.1564,33.5867,77.00,100,20,3.85,few clouds,2021-01-31 01:24:42
706,706,Bardiyah,LY,31.7561,25.0865,59.27,69,0,13.82,clear sky,2021-01-31 01:24:43
707,707,Chanika,TZ,-5.4167,38.0167,69.21,93,69,1.66,broken clouds,2021-01-31 01:24:43

In [9]:
user_filtered_results_noBlanks_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = user_filtered_results_noBlanks_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Miranda De Ebro,ES,45.00,broken clouds,42.6865,-2.9470,
1,Rikitea,PF,79.50,clear sky,-23.1203,-134.9692,
2,Vaini,TO,86.00,broken clouds,-21.2000,-175.2000,
3,Barroquinha,BR,76.95,overcast clouds,-3.0189,-41.1361,
4,Saint-Philippe,RE,78.80,light rain,-21.3585,55.7679,
5,Jamestown,US,17.60,clear sky,42.0970,-79.2353,
6,Kapaa,US,77.00,light rain,22.0752,-159.3190,
8,Ribeira Grande,PT,63.16,overcast clouds,38.5167,-28.7000,
9,Faanui,PF,81.75,scattered clouds,-16.4833,-151.7500,
10,Saint Anthony,US,32.00,light snow,45.0205,-93.2180,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key2    
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    
    # 6c. Get latitude and longitude from DataFrame
    hotel_lat = row["Lat"]
    hotel_long = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{hotel_lat},{hotel_long}"
        
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
    
    #location = hotel_lat,hotel_long
    
    #hotel_request_url = f"{base_url}radius={params['radius']}type={params['type']}key={params['key']}location={params['location']}"

    # 6e. Make request and retrieve the JSON data from the search.
    nearest_hotel = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = nearest_hotel["results"][0]["name"]
                          

# If an error is experienced, skip the city.
    except:
        print("Hotel not found. Skipping...") 
        #" + city + " " + str(i))
        pass

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

In [25]:
# 7. Drop the rows where there is no Hotel Name.
cleaned_hotel_df = hotel_df.dropna()

In [26]:
cleaned_hotel_df.count()

City                   628
Country                628
Max Temp               628
Current Description    628
Lat                    628
Lng                    628
Hotel Name             628
dtype: int64

In [30]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
cleaned_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
cleaned_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Miranda De Ebro,ES,45.00,broken clouds,42.6865,-2.9470,Hospedería El Convento
1,Rikitea,PF,79.50,clear sky,-23.1203,-134.9692,Pension Maro'i
2,Vaini,TO,86.00,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,Barroquinha,BR,76.95,overcast clouds,-3.0189,-41.1361,Pousada Fontenele
4,Saint-Philippe,RE,78.80,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
...,...,...,...,...,...,...,...
703,Miandrivazo,MG,77.56,few clouds,-19.5167,45.4667,Hôtel Arc En Ciel Miandrivazo
704,Tsiroanomandidy,MG,66.33,clear sky,-18.7667,46.0333,
705,Tete,MZ,77.00,few clouds,-16.1564,33.5867,Zambeze Paraíso Misterioso
706,Bardiyah,LY,59.27,clear sky,31.7561,25.0865,بورتو بردية
707,Chanika,TZ,69.21,broken clouds,-5.4167,38.0167,New Rombo Green Hotel

In [31]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in cleaned_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = cleaned_hotel_df[["Lat", "Lng"]]

In [32]:
locations

         Lat       Lng
0    42.6865   -2.9470
1   -23.1203 -134.9692
2   -21.2000 -175.2000
3    -3.0189  -41.1361
4   -21.3585   55.7679
..       ...       ...
703 -19.5167   45.4667
704 -18.7667   46.0333
705 -16.1564   33.5867
706  31.7561   25.0865
707  -5.4167   38.0167

[628 rows x 2 columns]

In [37]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
#locations = hotel_df[["Lat", "Lng"]]
max_temp = cleaned_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))